@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="homeCinema">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Cinema</title>
	<meta charset="utf-8" />
    <link href="content/css/bootstrap.css" rel="stylesheet" />
    <link href="content/css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body ng-controller="rootCtrl">
    <top-bar></top-bar>
    <div class="row-offcanvas row-offcanvas-left">
        <side-bar></side-bar>
        <div id="main">
            <div class="col-md-12">
                <p class="visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </button>
                </p>
                <div class="page {{ pageClass }}" ng-view></div>
            </div>
        </div>
    </div>
    
    <script src="scripts/vendor/vendor.js"></script>
    <script src="scripts/dist/appModule.js"></script>
    <script src="scripts/spa/app.js"></script>
    <script src="scripts/dist/appService.js"></script>
    <script src="scripts/dist/appLayout.js"></script>

    <script src="scripts/spa/directives/availableMovie.directive.js"></script>
    <script src="scripts/spa/directives/componentRating.directive.js"></script>

    <script src="scripts/spa/home/rootCtrl.js"></script>
    <script src="scripts/spa/home/indexCtrl.js"></script>
</body>
</html>
